@{
    Layout = null;
    NguoiDung userLogin = new NguoiDung();

    if (User.Identity.IsAuthenticated)
    {
        userLogin.MaNd = User.Claims.ToList()[0].Value;
    }
}
@using MonNgonMoiNgay.Models.Entities

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/Resources/logo.png">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/admin/css/bootstrap.min.css">
    <!-- Bootstrap Float Label -->
    <link rel="stylesheet" href="~/css/bootstrap-float-label.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/admin/css/font-awesome.min.css">
    <!-- owl.carousel CSS -->
    <link rel="stylesheet" href="~/admin/css/owl.carousel.css">
    <link rel="stylesheet" href="~/admin/css/owl.theme.css">
    <link rel="stylesheet" href="~/admin/css/owl.transitions.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/admin/css/animate.css">
    <!-- normalize CSS -->
    <link rel="stylesheet" href="~/admin/css/normalize.css">
    <!-- meanmenu icon CSS -->
    <link rel="stylesheet" href="~/admin/css/meanmenu.min.css">
    <!-- main CSS -->
    <link rel="stylesheet" href="~/admin/css/main.css">
    <!-- educate icon CSS -->
    <link rel="stylesheet" href="~/admin/css/educate-custon-icon.css">
    <!-- mCustomScrollbar CSS -->
    <link rel="stylesheet" href="~/admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS -->
    <link rel="stylesheet" href="~/admin/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/admin/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS -->
    <link rel="stylesheet" href="~/admin/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/admin/css/calendar/fullcalendar.print.min.css">
    <!-- modals CSS -->
    <link rel="stylesheet" href="~/admin/css/modals.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/css/toastr.css" />
    <!-- style CSS -->
    <link rel="stylesheet" href="~/admin/css/style.css">
    <!-- responsive CSS -->
    <link rel="stylesheet" href="~/admin/css/responsive.css">
    <!-- modernizr JS -->
    <script src="~/admin/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Chat -->
    <link rel="stylesheet" href="~/css/chat.css" />
</head>

<body>
    <!--Local custom style input-->
    <style>
        .has-float-label .form-control:placeholder-shown:not(:focus) + * {
            font-size: 100%;
            opacity: .5;
            top: 32%;
        }
    </style>
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="/"><img class="main-logo" src="~/Content/Images/Resources/logo2.png" alt="" /></a>
                <strong><a href="/"><img src="~/Content/Images/Resources/logo2.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a title="Quay lại trang chủ" href="/" aria-expanded="false"><span class="educate-icon educate-home icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">Trang chủ</span></a>
                        </li>
                        @if(User.Claims.ToList()[1].Value == "01")
                        {
                            <li>
                                <a title="Quản lý người dùng" href="/Admin/User/List" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap" aria-hidden="true"></span> <span class="mini-click-non @ViewBag.QLUser">QL Người dùng</span></a>
                            </li>
                            <li>
                                <a title="Đề cử bài đăng" href="/Admin/Home/BaiDangDeCu" aria-expanded="false"><span class="educate-icon educate-department icon-wrap" aria-hidden="true"></span> <span class="mini-click-non @ViewBag.DeCu">Đề cử</span></a>
                            </li>
                        }
                        @if(User.Claims.ToList()[1].Value == "01" || User.Claims.ToList()[1].Value == "03")
                        {
                            <li>
                                <a title="Xem phản hồi" href="/Admin/User/ViewPhanHoi" aria-expanded="false"><span class="educate-icon educate-data-table icon-wrap" aria-hidden="true"></span> <span class="mini-click-non @ViewBag.PhanHoi">Xem phản hồi</span></a>
                            </li>
                        }
                        <li>
                            <a title="Quản lý bài đăng" href="/Admin/User/Index" aria-expanded="false"><span class="educate-icon educate-library icon-wrap" aria-hidden="true"></span> <span class="mini-click-non @ViewBag.QLPost">QL Bài đăng</span></a>
                        </li>
                        <li>
                            <a title="Bài đăng đã ẩn" href="/Admin/User/ListAn" aria-expanded="false"><span class="fa fa-eye-slash icon-wrap" aria-hidden="true"></span> <span class="mini-click-non @ViewBag.An">Bài đăng đã ẩn</span></a>
                        </li>
                        <li>
                            <a title="Bài đăng đã đẩy" href="/Admin/User/ListDay" aria-expanded="false"><span class="educate-icon educate-interface icon-wrap" aria-hidden="true"></span> <span class="mini-click-non @ViewBag.Day">Bài đăng đã đẩy</span></a>
                        </li>
                        <li>
                            <a title="Bài đăng đã thích" href="/Admin/Home/BaiDangYeuThich" aria-expanded="false"><span class="fa fa-heart-o icon-wrap" aria-hidden="true"></span> <span class="mini-click-non @ViewBag.YeuThich">Bài đăng yêu thích</span></a>
                        </li>
                        <li>
                            <a title="Bài đăng đã lưu" href="/Admin/User/ListSave" aria-expanded="false"><span class="fa fa-bookmark-o icon-wrap" aria-hidden="true"></span> <span class="mini-click-non @ViewBag.Save">Bài đăng đã lưu</span></a>
                        </li>
                        <li>
                            <a title="Giỏ hàng" href="/Post/Cart" aria-expanded="false"><span class="fa fa-shopping-cart icon-wrap" aria-hidden="true"></span> <span class="mini-click-non @ViewBag.GioHang">Giỏ hàng</span></a>
                        </li>
                        <li>
                            <a title="Thống kê" href="#" aria-expanded="false"><span class="educate-icon educate-charts icon-wrap" aria-hidden="true"></span> <span class="mini-click-non @ViewBag.ThongKe">Thống kê</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="/"><img class="main-logo" src="~/Content/Images/Resources/logo2.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                <i class="educate-icon educate-nav"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item">
                                                    <a href="/Admin/User/Index" class="nav-link">Trang quản trị</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item dropdown">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="educate-icon educate-message edu-chat-pro" aria-hidden="true"></i><span id="icon-mess-ping" class="indicator-ms"></span></a>
                                                    <div role="menu" class="author-message-top dropdown-menu animated zoomIn">
                                                        <div class="message-single-top">
                                                            <h1>Tin nhắn</h1>
                                                        </div>
                                                        <ul class="message-menu">
                                                        </ul>
                                                        <div class="message-view">
                                                            <a href="#">Xem tất cả</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="educate-icon educate-bell" aria-hidden="true"></i><span id="icon-noti-ping" class="indicator-nt"></span></a>
                                                    <div role="menu" class="notification-author dropdown-menu animated zoomIn">
                                                        <div class="notification-single-top">
                                                            <h1>Thông báo</h1>
                                                        </div>
                                                        <ul class="notification-menu">
                                                        </ul>
                                                        <div class="notification-view">
                                                            <a href="#" id="view-all-noti" style="color: #0066ff">Đã xem hết</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <img src="@userLogin.getImage()" alt="" />
                                                        <span class="admin-name">@userLogin.getTenHienThi()</span>
                                                        <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                    </a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                        <li><a href="/Admin/User/Profile?id=@userLogin.MaNd"><span class="edu-icon edu-home-admin author-log-ic"></span>Trang cá nhân</a></li>
                                                        <li><a href="/Account/ChangeProfile"><span class="edu-icon edu-user-rounded author-log-ic"></span>Thay đổi thông tin</a></li>
                                                        <li data-toggle="modal" data-target="#modal-change-pass"><a href="#"><span class="edu-icon edu-settings author-log-ic"></span>Đổi mật khẩu</a> </li>
                                                        <li><a style="color: firebrick" href="/Account/Logout"><span class="edu-icon edu-locked author-log-ic"></span>Đăng xuất</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li><a href="/">Trang chủ</a></li>
                                        @if (User.Claims.ToList()[1].Value == "01")
                                        {
                                            <li><a href="/Admin/User/List">Ql Người dùng</a></li>
                                            <li><a href="/Admin/User/BaiDangDeCu">Đề cử bài đăng</a></li>
                                        }
                                        @if (User.Claims.ToList()[1].Value == "01" || User.Claims.ToList()[1].Value == "03")
                                        {
                                            <li><a href="/Admin/User/ViewPhanHoi">Xem phản hồi</a></li>
                                        }
                                        <li><a href="/Admin/User/Index">Ql Bài đăng</a></li>
                                        <li><a href="/Admin/User/ListAn">BĐ đã ẩn</a></li>
                                        <li><a href="/Admin/User/ListDay">BĐ đã đẩy</a></li>
                                        <li><a href="/Admin/Home/BaiDangYeuThich">BĐ yêu thích</a></li>
                                        <li><a href="/Admin/User/ListSave">BĐ đã lưu</a></li>
                                        <li><a href="/Post/Cart">Giỏ hàng</a></li>
                                        <li><a href="#">Thống kê</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
        </div>
        @RenderBody()
    </div>

    <!-- Popup chat -->
    <div class="chat-box">
        <div class="chat-box-header">
            <label id="chat-header">User Name</label>
            <span class="chat-box-toggle"><i class="fa fa-times"></i></span>
        </div>
        <div class="chat-box-body">
            <div class="chat-box-overlay">
            </div>
            <div class="chat-logs">
                <p class="text-center">Chưa có tin nhắn nào</p>
            </div>
        </div>
        <div class="chat-input">
            <form>
                <input type="text" id="chat-input" placeholder="Nhập tin nhắn vào đây..." />
                <button type="submit" class="chat-submit" id="chat-submit"><i class="fa fa-send"></i></button>
            </form>
        </div>
    </div>

    <!-- Popup change password-->
    <div id="modal-change-pass" class="modal modal-edu-general Customwidth-popup-WarningModal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-close-area modal-close-df">
                    <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                </div>
                <div class="modal-body">
                    <h2 id="modal-change-pass-title">Đổi mật khẩu</h2>
                    <form id="user-change-pass">
                        <div class="col-12">
                            <div class="form-group has-float-label">
                                <input class="form-control" id="passOld" required type="password" maxlength="30" placeholder="Nhập mật khẩu..." value="" />
                                <label id="lbl-passOld" for="passOld">Mật khẩu</label>
                            </div>
                            <div class="form-group has-float-label">
                                <input class="form-control" id="passNew" required type="password" maxlength="30" placeholder="Nhập mật khẩu mới ..." value="" />
                                <label id="lbl-passNew" for="passNew">Mật khẩu mới</label>
                            </div>
                            <div class="form-group has-float-label">
                                <input class="form-control" id="passRe" required type="password" maxlength="30" placeholder="Nhập lại mật khẩu mới ..." value="" />
                                <label id="lbl-passRe" for="passRe">Nhập lại mật khẩu mới</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer warning-md">
                    <a id="cancel-change-pass" data-dismiss="modal" href="#" class="cancel">Nghĩ lại</a>
                    <a id="confirm-change-pass" href="#">Xác nhận</a>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery -->
    <script src="~/admin/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Toastr -->
    <script src="~/js/toastr.js"></script>
    <!-- Custom Number -->
    <script src="~/js/jquery.number.js"></script>
    <!-- bootstrap JS -->
    <script src="~/admin/js/bootstrap.min.js"></script>
    <!-- wow JS -->
    <script src="~/admin/js/wow.min.js"></script>
    <!-- price-slider JS -->
    <script src="~/admin/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS -->
    <script src="~/admin/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS -->
    <script src="~/admin/js/owl.carousel.min.js"></script>
    <!-- sticky JS -->
    <script src="~/admin/js/jquery.sticky.js"></script>
    <!-- scrollUp JS -->
    <script src="~/admin/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS -->
    <script src="~/admin/js/counterup/jquery.counterup.min.js"></script>
    <script src="~/admin/js/counterup/waypoints.min.js"></script>
    <script src="~/admin/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS -->
    <script src="~/admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/admin/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS -->
    <script src="~/admin/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/admin/js/metisMenu/metisMenu-active.js"></script>
    <!-- sparkline JS -->
    <script src="~/admin/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/admin/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="~/admin/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS -->
    <script src="~/admin/js/calendar/moment.min.js"></script>
    <script src="~/admin/js/calendar/fullcalendar.min.js"></script>
    <script src="~/admin/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS -->
    <script src="~/admin/js/plugins.js"></script>
    <!-- main JS -->
    <script src="~/admin/js/main.js"></script>
    <script src="~/js/account.js"></script>
    <!-- Chat -->
    <script src="~/js/chat.js"></script>
       
    <!-- Tự động nhận tin nhắn nếu có đăng nhập-->
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            $(document).ready(function() {
                setInterval(myReloadPingChat, 1000);
                setInterval(myReloadPing, 1000);
            })
        </script>
    }
</body>

</html>