@{
    ViewData["Title"] = "Cập nhật thông tin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model MonNgonMoiNgay.Models.Entities.NguoiDung

<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcome-heading">
                                <a href="~/Admin/User/Index">Trang quản trị</a> <span class="bread-slash">/</span>
                                <span class="bread-blod">Cập nhật thông tin</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Single pro tab review Start-->
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div id="dropzone1" class="pro-ad">
                                    <form enctype="multipart/form-data" class="dropzone dropzone-custom needsclick add-professors" id="user-update-info">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="file-drop-area">
                                                    <div>
                                                        <i class="fa fa-download edudropnone" aria-hidden="true"></i>
                                                        <span class="fake-btn">Kéo thả hoặc chọn ảnh để tải lên</span>
                                                    </div>
                                                    <input class="file-input" id="user-change-img" type="file" accept=".jpg, .png" />
                                                </div>
                                                <div class="preview-images"></div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group has-float-label">
                                                    <input class="form-control user-change-inp" id="userHoLot" required type="text" maxlength="20" placeholder="Nhập họ và tên đệm..." value="@Model.HoLot" />
                                                    <label for="userHoLot">Họ</label>
                                                </div>
                                                <div class="form-group has-float-label">
                                                    <input class="form-control user-change-inp" id="userTen" required type="text" maxlength="7" placeholder="Nhập tên ..." value="@Model.Ten" />
                                                    <label for="userTen">Tên</label>
                                                </div>
                                                <div class="form-group has-float-label">
                                                    <input class="form-control user-change-inp" id="userNgaySinh" required type="date" placeholder="Nhập ngày sinh ..." value="@Model.NgaySinh?.ToString("yyyy-MM-dd")" />
                                                    <label for="userNgaySinh">Ngày Sinh</label>
                                                </div>
                                                <label class="form-group has-float-label">
                                                    <select id="userGioiTinh" required class="form-control custom-select user-change-inp">
                                                        @{
                                                            string[] gioitinh = { "Chọn giới tính", "Nam", "Nữ", "LGBT" };
                                                            if (String.IsNullOrEmpty(Model.GioiTinh.ToString()))
                                                            {
                                                                    <option value="0" selected>Chọn giới tính</option>
                                                                    <option value="1">Nam</option>
                                                                    <option value="2">Nữ</option>
                                                                    <option value="3">LGBT</option>
                                                            }
                                                            else
                                                            {
                                                                    <option value="0" selected>Chọn giới tính</option>
                                                                for(var i = 1; i<4; i++)
                                                                {
                                                                    if(Model.GioiTinh == i)
                                                                    {
                                                                            <option value="@i" selected>@gioitinh[i]</option>
                                                                    }
                                                                    else
                                                                    {
                                                                            <option value="@i">@gioitinh[i]</option>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                    <span>Giới tính</span>
                                                </label>
                                                <div class="form-group has-float-label">
                                                    <input class="form-control user-change-inp" id="userSDT" required type="number" maxlength="11" onkeypress="if(this.value.length==11) return false;" placeholder="Nhập số điện thoại..." value="@Model.Sdt" />
                                                    <label for="userSDT">Số điện thoại</label>
                                                </div>
                                                <div class="form-group has-float-label">
                                                    <input class="form-control user-change-inp" id="userDiaChi" required type="text" maxlength="100" placeholder="Nhập địa chỉ..." value="@Model.DiaChi" />
                                                    <label for="userDiaChi">Địa chỉ</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="payment-adress">
                                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Cập nhật thông tin</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>