@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = ViewBag.test;
    ViewBag.TrangChu = "active";

    var PostNew = ViewData["PostNew"] as List<BaiDang>;
    var PostVote = ViewData["PostVote"] as List<BaiDang>;
    var PostLike = ViewData["PostLike"] as List<BaiDang>;
    var ImgFT = ViewData["FooterImg"] as List<HinhAnh>;
}
@using MonNgonMoiNgay.Models.Entities

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/Content/Images/Resources/banner-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Chào mừng đến với<br>Món Ngon Mỗi Ngày</strong></h1>
                        <p class="m-b-40">Nơi thỏa mãn mọi đam mê ẩm thực của bạn mọi lúc mọi nơi. <br> Bạn chưa biết hôm nay ăn gì? Yên tâm, hãy để chúng tôi giúp bạn.</p>
                        <p><a class="btn hvr-hover" href="~/Account/Login">Tham gia ngay</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/Images/Resources/banner-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Chào mừng đến với<br>Món Ngon Mỗi Ngày</strong></h1>
                        <p class="m-b-40">Nơi thỏa mãn mọi đam mê ẩm thực của bạn mọi lúc mọi nơi. <br> Bạn chưa biết hôm nay ăn gì? Yên tâm, hãy để chúng tôi giúp bạn.</p>
                        <p><a class="btn hvr-hover" href="~/Account/Login">Tham gia ngay</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/Images/Resources/banner-03.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Chào mừng đến với<br>Món Ngon Mỗi Ngày</strong></h1>
                        <p class="m-b-40">Nơi thỏa mãn mọi đam mê ẩm thực của bạn mọi lúc mọi nơi. <br> Bạn chưa biết hôm nay ăn gì? Yên tâm, hãy để chúng tôi giúp bạn.</p>
                        <p><a class="btn hvr-hover" href="~/Account/Login">Tham gia ngay</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Ăn gì hôm nay?</h1>
                    <p>Nếu bạn chưa biết hôm nay ăn gì? Hãy xem những đề xuất của chúng tôi nhé !</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter=".new-post">Bài đăng mới</button>
                        <button data-filter=".btv-vote">Bình chọn của BTV</button>
                        <button data-filter=".best-like">Yêu thích nhiều nhất</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">

            <!--Danh sách bài đăng mới-->
            @if (PostNew.Count != 0)
            {
                foreach (var post in PostNew)
                {
                    <div class="col-lg-3 col-md-6 special-grid new-post">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="new">Mới</p>
                                </div>
                                <img src="@post.getOneImage()" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="~/Post/Detail?id=@post.MaBd" data-toggle="tooltip" data-placement="right" title="Xem chi tiết"><i class="fas fa-eye"></i></a></li>
                                        @if(User.Identity.IsAuthenticated)
                                        {
                                            var MaUser = User.Claims.ToList()[0].Value;
                                            if (post.isSave(MaUser) || post.MaNd.Equals(User.Claims.ToList()[0].Value))
                                            {
                                                <li><a href="#" data-toggle="tooltip" class="btn disabled" data-placement="right" title="Lưu lại"><i class="fa fa-bookmark" style="padding-left: 3px"></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a href="#" data-toggle="tooltip" class="btn" data-placement="right" onclick="setLuuBaiDang('@post.MaBd', this)" title="Lưu lại"><i class="fa fa-bookmark" style="padding-left: 3px"></i></a></li>
                                            }
                                            if (post.isLike(MaUser) || post.MaNd.Equals(User.Claims.ToList()[0].Value))
                                            {
                                                <li><a href="#" data-toggle="tooltip" class="btn disabled" data-placement="right" title="Yêu thích"><i class="fa fa-heart"></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a href="#" data-toggle="tooltip" class="btn" data-placement="right" onclick="setYeuThichBaiDang('@post.MaBd', this)" title="Yêu thích"><i class="fa fa-heart"></i></a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li><a href="~/Account/Login" data-toggle="tooltip" class="btn" data-placement="right" title="Lưu lại"><i class="fa fa-bookmark" style="padding-left: 3px"></i></a></li>
                                            <li><a href="~/Account/Login" data-toggle="tooltip" data-placement="right" title="Yêu thích"><i class="far fa-heart"></i></a></li>
                                        }
                                    </ul>
                                    <a class="cart" href="#" onclick="setGioHang('@post.MaBd')">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                            <div class="why-text">
                                <h4>@post.TenMon</h4>
                                <label>@post.MoTa</label>
                                <h5>@post.GiaTien VNĐ</h5>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12 text-center special-grid new-post">
                    <label>Hiện không có dữ liệu</label>
                </div>
            }

            <!--Danh sách bài đăng được đề cử-->
            @if (PostVote.Count != 0)
            {
                foreach (var post in PostVote)
                {
                    <div class="col-lg-3 col-md-6 special-grid btv-vote">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="vote">BTV</p>
                                </div>
                                <img src="@post.getOneImage()" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="~/Post/Detail?id=@post.MaBd" data-toggle="tooltip" data-placement="right" title="Xem chi tiết"><i class="fas fa-eye"></i></a></li>
                                        @if(User.Identity.IsAuthenticated)
                                        {
                                            var MaUser = User.Claims.ToList()[0].Value;
                                            if (post.isSave(MaUser) || post.MaNd.Equals(User.Claims.ToList()[0].Value))
                                            {
                                                <li><a href="#" data-toggle="tooltip" class="btn disabled" data-placement="right" title="Lưu lại"><i class="fa fa-bookmark" style="padding-left: 3px"></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a href="#" data-toggle="tooltip" class="btn" data-placement="right" onclick="setLuuBaiDang('@post.MaBd', this)" title="Lưu lại"><i class="fa fa-bookmark" style="padding-left: 3px"></i></a></li>
                                            }
                                            if (post.isLike(MaUser) || post.MaNd.Equals(User.Claims.ToList()[0].Value))
                                            {
                                                <li><a href="#" data-toggle="tooltip" class="btn disabled" data-placement="right" title="Yêu thích"><i class="far fa-heart"></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a href="#" data-toggle="tooltip" class="btn" data-placement="right" onclick="setYeuThichBaiDang('@post.MaBd', this)" title="Yêu thích"><i class="far fa-heart"></i></a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li><a href="~/Account/Login" data-toggle="tooltip" class="btn" data-placement="right" title="Lưu lại"><i class="fa fa-bookmark" style="padding-left: 3px"></i></a></li>
                                            <li><a href="~/Account/Login" data-toggle="tooltip" data-placement="right" title="Yêu thích"><i class="far fa-heart"></i></a></li>
                                        }
                                    </ul>
                                    <a class="cart" href="#" onclick="setGioHang('@post.MaBd')">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                            <div class="why-text">
                                <h4>@post.TenMon</h4>
                                <label>@post.MoTa</label>
                                <h5>@post.GiaTien VNĐ</h5>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12 text-center special-grid btv-vote">
                    <label>Hiện không có dữ liệu</label>
                </div>
            }

            <!--Danh sách bài đăng được yêu thích-->
            @if (PostLike.Count != 0)
            {
                foreach (var post in PostLike)
                {
                    <div class="col-lg-3 col-md-6 special-grid best-like">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="like">Yêu Thích</p>
                                </div>
                                <img src="@post.getOneImage()" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="~/Post/Detail?id=@post.MaBd" data-toggle="tooltip" data-placement="right" title="Xem chi tiết"><i class="fas fa-eye"></i></a></li>
                                        @if(User.Identity.IsAuthenticated)
                                        {
                                            var MaUser = User.Claims.ToList()[0].Value;
                                            if (post.isSave(MaUser) || post.MaNd.Equals(User.Claims.ToList()[0].Value))
                                            {
                                                <li><a href="#" data-toggle="tooltip" class="btn disabled" data-placement="right" title="Lưu lại"><i class="fa fa-bookmark" style="padding-left: 3px"></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a href="#" data-toggle="tooltip" class="btn" data-placement="right" onclick="setLuuBaiDang('@post.MaBd', this)" title="Lưu lại"><i class="fa fa-bookmark" style="padding-left: 3px"></i></a></li>
                                            }
                                            if (post.isLike(MaUser) || post.MaNd.Equals(User.Claims.ToList()[0].Value))
                                            {
                                                <li><a href="#" data-toggle="tooltip" class="btn disabled" data-placement="right" title="Yêu thích"><i class="far fa-heart"></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a href="#" data-toggle="tooltip" class="btn" data-placement="right" onclick="setYeuThichBaiDang('@post.MaBd', this)" title="Yêu thích"><i class="far fa-heart"></i></a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li><a href="~/Account/Login" data-toggle="tooltip" class="btn" data-placement="right" title="Lưu lại"><i class="fa fa-bookmark" style="padding-left: 3px"></i></a></li>
                                            <li><a href="~/Account/Login" data-toggle="tooltip" data-placement="right" title="Yêu thích"><i class="far fa-heart"></i></a></li>
                                        }
                                    </ul>
                                    <a class="cart" href="#" onclick="setGioHang('@post.MaBd')">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                            <div class="why-text">
                                <h4>@post.TenMon</h4>
                                <label>@post.MoTa</label>
                                <h5>@post.GiaTien VNĐ</h5>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12 text-center special-grid best-like">
                    <label>Hiện không có dữ liệu</label>
                </div>
            }
        </div>
    </div>
</div>
<!-- End Products  -->
<!-- Start Food Feed  -->
<div class="food-box">
    <div class="main-food owl-carousel owl-theme">
        @foreach(var item in ImgFT)
        {
            <div class="item">
                <div class="ins-inner-box">
                    <img src="~/Content/FilesPost/@item.UrlImage" alt="" />
                    <div class="hov-in">
                        <a href="~/Post/Detail?id=@item.MaBd"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- End Instagram Feed  -->