@model List<MonNgonMoiNgay.Models.CartItem>
@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var MaUser = User.Claims.ToList()[0].Value;
}
<h2>GIỎ HÀNG</h2>

@if (Model.Count > 0) {
  decimal total = 0;
  int stt = 1;
  
  <table class="table">
    <tr>
      <th>STT</th>
      <th>Món ăn</th>
      <th>Giá</th>
      <th>Số lượng</th>
      <th>Thành tiền</th>
      <th></th>
    </tr>
    @foreach (var cartitem in Model)
    {
        var thanhtien = cartitem.quantity * cartitem.baidang.GiaTien;
        total += thanhtien;

        <tr>
           <td>@(stt++)</td>
           <td>@cartitem.baidang.TenMon</td>
           <td>@(cartitem.baidang.GiaTien.ToString("n0"))</td>
           @*<td>@cartitem.quantity </td>*@
           <td><input asp-for="@cartitem.quantity" id="@($"quantity-{cartitem.baidang.MaBd}")"/></td>
           <td>@(thanhtien.ToString("n0"))</td>
           <td>
              <button class="btn btn-success updatecartitem" data-productid="@cartitem.baidang.MaBd">Cập nhật</button>
              <a class="btn btn-danger" href="/Post/RemoveCart?id=@cartitem.baidang.MaBd">Xóa</a>
           </td>
        </tr>
    }
      <tr>
          <td colspan="4" class="text-right">Tổng tiền</td>
          <td>@(total.ToString("n0"))</td>
          <td></td>
      </tr>
  </table>

  <a href="/Admin/Post/CheckOut" class="btn btn-warning">Thanh toán</a>

      @section Scripts {
        <script>
          $(document).ready(function () {
              $(".updatecartitem").click(function (event) {
                  event.preventDefault();
                  var Mabd = $(this).attr("data-productid");
                  var quantity = $("#quantity-" + Mabd).val();
                  $.ajax({
                      type: "POST",
                      url:"/Post/UpdateCart",
                      data: {
                          Mabd: Mabd,
                          quantity:quantity
                      },
                      success: function (result) {
                          window.location.href = "/Post/Cart";
                      }
                  });
              });
          });
        </script>
      }

}
else {
  <p class="alert alert-danger">Giỏ hàng trống</p>
}
<script src="~/js/jquery-3.2.1.min.js" ></script>
